.image1 {
	display:inline-block;
	background-image:url(background-sd.jpg);
	width: 400px;
	height: 300px;
	border:solid 1px black;
}

.image2 {
	display:inline-block;	
	background-image:url(background-hd.jpg);
	background-size: 100% 100%;
	width: 400px;
	height: 300px;
	border:solid 1px black;
}